extends layouts/main-layout.pug 
block content 
h1 users 
if users.length>0
    ul 
    each user in users // Here the word users is a variable that I created in the app.js which contains all the users -This should also match with the get request for rendering this page in app.js
    li #{user.name} 
else 
h1 No users found