<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- The word pageTitle should match exactly with what is specified in app.js --}}
    <title>{{pageTitle}}</title>
</head>
<body>
    {{!-- The body should be with a small b --}}
    {{{body}}}
</body>
</html>